/* Schriften werden vom eigenen Server ausgeliefert (kein Fremdserver, Blueprint Q2).
   Playfair Display und DM Sans: SIL Open Font License 1.1, Lizenztexte im Ordner fonts/.
   Nur die Latin-Teilmenge (deckt Deutsch inkl. Umlaute, ß, „ “ – — € ab). */
@font-face{
  font-family:'Playfair Display';
  font-style:normal;
  font-weight:400 900;
  font-display:swap;
  src:url('../fonts/playfair-display-latin-wght-normal.woff2') format('woff2');
}
@font-face{
  font-family:'Playfair Display';
  font-style:italic;
  font-weight:400 900;
  font-display:swap;
  src:url('../fonts/playfair-display-latin-wght-italic.woff2') format('woff2');
}
@font-face{
  font-family:'DM Sans';
  font-style:normal;
  font-weight:100 1000;
  font-display:swap;
  src:url('../fonts/dm-sans-latin-wght-normal.woff2') format('woff2');
}
